set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "(I)"
set vi-cmd-mode-string "\1\e[41m\2(N)\1\e[0m\2"
$if mode=vi

set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
"D":kill-line
"dw": kill-word
"dd": kill-whole-line
"db": backward-kill-word
"diw": "lbdw"
"yiw": "lbyw"
"ciw": "lbcw"
"diW": "lBdW"
"yiW": "lByW"
"ciW": "lBcW"
"cib": "lF(lct)"
"ciB": "lF{lct}"
"ci[": "lF[lct]"
"ci]": "lF[lct]"
"ci\"": "lF\"lct\""
"ci'": "lF'lct'"
"gg": beginning-of-history
"G": end-of-history
"\e": ""
"v": ""

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen 
Control-p: history-search-backward
Control-n: history-search-forward
Control-a: beginning-of-line
Control-e: end-of-line
"\e.":yank-last-arg
"\C-x\C-e": edit-and-execute-command
$endif

set keyseq-timeout 0
